.saved-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
}

.saved-title {
  font-family: "Oswald", cursive;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
  color: black;
}

.saved-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.saved-none {
  font-size: 1.2rem;
  color: #333;
}

@media (max-width: 768px) {
  .saved-container {
    width: 100%;
  }
}
